<div class="question-content">
  <div class="row">
    <div class="col-md-9">
      <h2>Author - {{model.author}}</h2>
      <h3>Notes: {{model.note}}</h3>
      <p>Question - {{model.content}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <h2>Responses..</h2>
      {{#each model.answers as |answer|}}
      <p><strong>{{answer.author}}</strong> - {{answer.response}}</p>
      {{/each}}
      <div class="new-answer">
        {{new-answer question=model saveAnswer='saveAnswer'}}
      </div>
    </div>
  </div>
</div>
